.quote-stepper-stepper{
    display: flex;
    gap: 10px;
}

.quote-stepper-step-label{
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 440px){
    .quote-stepper{
        min-height: 600px !important;
    }
    .quote-stepper-stepper{
        display: none !important;
        width: 0px;
    }
    
}