.select-material-order-by {
  justify-self: flex-end;
  width: 200px;
}

.select-material-order {
  font-size: 20px;
  color: rgba(var(--text_color), 0.8);
}

.select-material-order-select {
  border: none;
  color: rgba(var(--text_color), 0.8);
}

.select-material-order-select:focus {
  outline: none;
}

@media screen and (max-width: 440px) {
}
