.available_materials{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.available_materials_title{
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -.02em;
    color: rgba(var(--text_color), 0.8);
    text-align: center;
}

.available_materials_spec_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.available_materials_specs_description{
    width: 1300px;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}

.available_materials_specs_description strong{
    color: rgba(var(--primary_color), 1);
}

.available_materials_specs_display{
    width: 1400px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.available_materials_specs_table{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.available_materials_specs_li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.available_materials_specs_li_title{
    width: 100%;
    text-align: center;
    background-color: #6a6a6a;
    color: #fff;
    padding: 10px;
    font-weight: 700;
}

.available_materials_see_more_button{
    margin-top: 40px;
    width: 1400px;
    background-color: rgba(var(--primary_color), 1);
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 0;
    animation: 2s available_materials_button infinite ease-in-out;
}

@media (max-width: 440px) {

    .available_materials{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .available_materials_specs_display{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .available_materials_specs_description{
        width: 100%;
        padding: 0 30px;
        font-size: 22px;
    }

    .available_materials_specs_table{
        width: 90%;
    }

    .available_materials_specs_li_title{
        font-size: 18px;
    }

    .available_materials_specs_li{
        font-size: 14px;
    }

    .available_materials_see_more_button{
        margin-top: 0px;
        width: calc(100vw - 80px);
    }
}

@keyframes
available_materials_button {
    0% {transform: scale(1);}
    50% {transform: scale(1.025);}
    100% {transform: scale(1);}
}