.applications-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.applications-section-item{
    width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    /* border: 1px solid #d0d5dd; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.applications-section-item-text{
    grid-row: 5 / 6;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 10px 20px 20px 20px;
}

.applications-section-item-title{
    font-size: 26px;
    color: rgba(var(--text_color), 0.8);
}
.applications-section-item-description{
    font-size: 18px;
    color: rgba(var(--text_color), 0.6);
}

.applications-section-item-img{
    padding: 10px;
    width: 100%;
    height: 100%;
    grid-row: 1 / 5;
    border-radius: 10px;
    border-radius: 10px;
}

.applications-section-item-img img{
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.applications-section-item-img img:hover{
    transition: 0.5s;
    transform: scale(1.1);
    border-radius: 10px;
}

@media (max-width: 440px){
    .applications-section{
        grid-template-columns: repeat(1, 1fr);
    }

    .applications-section-item{
        aspect-ratio: 3 / 4;
    }

    .applications-section-item-title{
        font-size: 42px;
    }

    .applications-section-item-img img:hover{
        transform: scale(1);
    }
}