.applications-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.applications-section-item {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.applications-section-item-text {
    grid-row: 5 / 6;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 10px 20px 20px 20px;
}

.applications-section-item-title {
    font-size: 26px;
    line-height: 32px;
    color: rgba(var(--text_color), 0.8);
}

.applications-section-item-description {
    font-size: 18px;
    color: rgba(var(--text_color), 0.6);
}

.applications-section-item-img {
    padding: 10px;
    width: 390px;
    height: 280px;
    grid-row: 1 / 5;
    border-radius: 10px;
    border-radius: 10px;
}

.applications-section-item-img img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.applications-section-item-img img:hover {
    transition: 0.5s;
    transform: scale(1.1);
    border-radius: 10px;
}

.applications-section-item-feature {
    transition: 0.5s;
    width: fit-content;
    align-self: flex-end;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--background_color);
    background-color: rgba(var(--primary_color), 0.8);
}

.applications-section-item-feature:hover {
    cursor: default;
    transition: 0.5s;
    background-color: rgba(var(--primary_color), 1);
}

@media (max-width: 440px) {
    .applications-section {
        display: flex;
        flex-direction: column;
    }

    .applications-section-item-title {
        font-size: 42px;
        line-height: 46px;
    }

    .applications-section-item-img {
        width: 100%;
        height: 280px;
    }

    .applications-section-item-img img:hover {
        transform: scale(1);
    }
}