.nav_bar{
    width: calc(100% - 80px);   /* es 100% menos el padding x 2 */
    height: var(--nav_bar_height);
    position: fixed;
    background-color: var(--background_color);
    color: rgb(var(--primary_color));
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    top: 0;
    z-index: 20;
}

.nav_bar_left{
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_bar_center{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 30px;
    height: 100%;
}

.nav_bar_right{
    padding: 0 30px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}