.nav_bar{
    width: calc(100% - 80px);   /* es 100% menos el padding x 2 */
    height: var(--nav_bar_height);
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    /* color: rgb(var(--primary_color)); */
    font-size: 22px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    top: 0;
    z-index: 20;
}

.nav_bar_left{
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
    color: rgba(var(--text_color), 1);
    font-weight: 700;
}

.nav_bar_left img{
    width: 60px;
    height: 60px;
}

.nav_bar_center{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 30px;
    height: 100%;
    font-size: 20px;
    text-decoration: none;
    color: rgba(var(--text_color), 1);
    font-weight: 700;
}

.nav_bar_right{
    padding: 0 30px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    text-decoration: none;
    color: rgba(var(--text_color), 1);
    font-weight: 700;
}

.nav_bar_right a{
    transition: 0.5s;
    text-decoration: none;
    color: rgba(var(--text_color), 0.6);
    border: 1px solid rgba(var(--text_color), 0.6);
    padding: 5px 15px;
    font-weight: 400;
    border-radius: 10px;
}

.nav_bar_right a:hover{
    transition: 0.5s;
    color: rgba(var(--text_color), 0.9);
    border: 1px solid rgba(var(--text_color), 0.9);
}

#nav_bar_print{
    color: var(--background_color);
    background-color: rgba(var(--primary_color), 1);
    border: 1px solid rgba(var(--primary_color), 1);
}

#nav_bar_print:hover{
    background-color: rgba(var(--primary_color), 0.8);
}