.display{
    min-width: 1400px;
    padding: 60px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0px;
    z-index: 1;
    background-color: var(--background_color);
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    border: 1px solid #d0d5dd;
}

.display_text{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(var(--text_color));
}

#display_title_id{
    text-align: left;
}

.display_title{
    font-size: 48px;
    margin: 0 0 15px 0;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -.02em;
    color: rgba(var(--text_color), 0.8);
}

.display_subtitle{
    font-size: 24px;
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
}

.display_description{
    font-size: 16px;
    margin: 0 0 30px 0;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.display_buttons{ 
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.display_button_main{
    transition: 0.5s;
    background-color: rgb(var(--primary_color));
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--background_color);
    font-size: 20px;
    border: 1px transparent;
    text-decoration: none;
}

#display_button_print_now{
    animation: shrinkButton 2s infinite;
}

.display_button_main:hover{
    transition: 0.5s;
    background-color: rgba(var(--primary_color), 0.8);
}

.display_button_second{
    background-color: var(--background_color);
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgba(var(--text_color), 0.2);
    text-decoration: none;
    color: var(--text_color);
}

.display_gallery{
    width: 380px;
    height: 380px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* border: 5px dashed #0077b6; */
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: bgShine 5s ease infinite; */
}

.display_gallery img:first-child{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.display_gallery img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.display_features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font: inherit;
    font-weight: 500;
    line-height: 1.5;
}

.display_features_selection{
    transition: 0.5s;
    padding: 8px 12px;
    color: #667085;
    border-radius: 10px;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.display_features_selection img{
    width: 18px;
    height: 18px;
}

.display_features_selection_active{
    transition: 0.5s;
    padding: 8px 12px;
    color: rgb(var(--primary_color));
    font-size: 35px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.display_features_selection_active img{
    width: 18px;
    height: 18px;
}

.display_features_selection:hover{
    transition: 0.5s;
    background-color: rgba(0,0,0,0.15);
}

.display_features_selection_active:hover{
    transition: 0.5s;
    background-color: rgba(0,0,0,0.15);
}

@media (max-width: 440px) {
    .display{
        min-width: auto;
        width: 80%;
        margin: calc(var(--nav_bar_height) + 40px) 0;
        flex-direction: column;
        margin: 40px;
        padding: 0;
        gap: 5px;
        border: none;
    }

    .display_text{
        width: auto;
        gap: 10px;
    }

    .display_title{
        margin-bottom: 20px;
    }

    .display_features_selection{
        justify-content: center;
    }

    .display_features_selection_active{
        justify-content: center;
        font-size: 30px;
    }

    .display_gallery{
        width: 300px;
        height: 300px;
        margin: 40px 0;
    }

    .display_gallery img{
        width: 100%;
        height: auto;
    }

    .display_features{
        gap: 5px;
    }
    
}

@keyframes shrinkButton {

    0% {
        transform: translateX(5px) rotate(2deg);
    }
    50% {
        transform: translateX(-5px) rotate(-2deg);
    }
    100% {
        transform: translateX(5px) rotate(2deg);
    }
}

@keyframes
bgShine {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}