:root{
  --primary_color: 0, 119, 182;
  --secondary_color: 0, 180, 216;
  --terciary_color: 144, 224, 239;
  --background_color: #fff;
  --text_color: 29, 41, 57;
  --nav_bar_height: 80px;
  --mobile_width: 440px;
  background-color: var(--background_color);
}

body{
  margin: 0;
}

.main_app{
  font-family: Inter,sans-serif;
}

.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
}