.request_form{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
}

.request_form_personal_data{
    width: 500px;
    color: var(--text_color);
    /* color: rgba(var(--primary_color), 0.2); */
    font-size: 18px;
}

.request_form_display{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    gap: 20px;
}

.request_form_item{
    width: 440px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15), 0 0 15px 0 rgba(0,0,0,.05);
    padding: 15px;
    gap: 15px;
}

.request_form_item img{
    width: 100px;
    height: 100px;
}

.request_form_item_container{
    width: calc(100% - 30px);
    min-height: calc(100px - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
    gap: 15px;
}

.request_form_item_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: var(--text_color);
    font-weight: 700;
    overflow: hidden;
    line-height: 22.4px;
    font-size: 16px;
    gap: 6px;
    padding: 5px 0;
}

#request_form_stl{
    min-height: auto;
    width: 100%;
    overflow: hidden;
}

.request_form_specs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.request_form_item_specs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

.request_form_material{
    background: rgba(var(--primary_color), 0.2);
    /* background: #f0f1f8; */
    width: fit-content;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
    color: rgba(var(--primary_color), 0.6);
}

.request_form_color{
    transition: 0.5s;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 440px) {
    .request_form{
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        width: 80%;
    }

    .request_form_personal_data{
        width: 100%;
    }

    .request_form_display{
        width: 100%;
    }

    .request_form_item{
        width: 100%;
    }

    .request_form_item img{
        display: none;
    }

    .request_form_item_specs{
        margin-top: 10px;
    }

    .request_form_item_content{
        /* overflow: scroll; */
    }
}